:root {
  /*
  --background-color: #1a1823;
  --primary-color: #c9cbff;
  --secondary-color: #96cdfb;
  --tertiary-color: #f28fad;
  --quaternary-color: #abe9b3;
  --read: #f8bd96;
  --started: #fae3b0;
   */
}

body {
  font-family: arial;
  background-color: black;
}

navbar p {
  background-color: black;
}
