:root {
    --background-color: #1a1b26;
    --primary-color: #a9b1d6;
    --secondary-color: #5883f3;
    --tertiary-color: #ed656c;
    --quaternary-color: #9ac161;
    --read: #ed9f0e;
    --started: #ffdfbf;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-family: Helvetica, Arial, sans-serif;
}

main {
  margin: auto;
  padding: 30px;
}

article {
  margin: auto;
  max-width: 1000px
}

footer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  clear: both;
}

h1 {
  color: var(--primary-color);   
}

h2 {
  color: var(--secondary-color);   
}

h3 {
  color: var(--tertiary-color);
}

h4 {
  color: var(--quaternary-color);
}

dt {
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: #44f;
}

header h1 {
  font-size: 30pt;
  margin-bottom: 0;
}

header {
  font-size: 30pt;
  padding-bottom: 15pt;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

/* library */
.library{
    padding: 180px;
}

.unsorted {
  font-style: italic; 
}

.read {
  color: var(--read);
  font-weight: bold;
}

.started {
  color: var(--started);
}

.e-book {
  color: teal;
}





/* Following: Flexbox */

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  font-family: 'JetBrains Mono', monospace;
  font-weight: bold;
  justify-content: center;
}

.card {
    max-width: 200px;
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
}

.card p {
    padding: 0 20px 20px;
}

.card p > button {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border: 0;
}

a {
    text-decoration: none;
}

img {
    width: 80%;
    justify-content: center;
}

figure {
    text-align: center;
    justify-content: center;
}

footer {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 7pt;
    margin-top: 40px;
    padding: 15px;
    background-color: var(--background-color);
}

.in-construction {
    max-width: 40px;
    height: auto;
    justify-content: center;
    margin: auto;
}

time {
    font-size: 7pt;
    font-family: monospace;
    color: var(--secondary-color);
}

br {
   display: block;
   margin: 10px 0;
}

table {
    border: 2px solid;
    border-collapse: separate;
    border-spacing: 10px;
}


td:nth-child(1) {
  border-right: 2px solid; /* Adjust the color and thickness as needed */
}


