/*
  Color scheme
  #f5f5f5
  #333
  #333
  #666
  #999
  #ccc
*/

body {
  background-color: #f5f5f5;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  max-width: 800px;
  margin: auto;
}

article {
  margin: auto;
}

h1 {
  color: #333;   
}

h2 {
  color: #666;   
}

h3 {
  color: #999;
}

h4 {
  color: #ccc;
}

dt {
  font-weight: bold;
}

strong {
  font-weight: bold;
  color: #44f;
}

header h1 {
  font-size: 30pt;
  margin-bottom: 0;
}

header {
  font-size: 30pt;
  padding-bottom: 15pt;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

footer {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  clear: both;
}
