<ul>
  {{ range first 3 .Site.RegularPages.ByDate.Reverse }}
    <li>
      <p style="font-weight:bold;"><a style="color: var(--primary-color);" href="{{ .RelPermalink }}">{{ .Title }}</a></p>
      <time>{{ .Date.Format "Jan, 02  2006" }}</time>
      {{ .Summary | truncate 80 }}

      {{ if .Truncated }} <a href="{{ .RelPermalink }}">read more</a> {{ end }}

      <br>
      <time>{{ .ReadingTime }} minute read.</time> 
    </li>
    <!--<hr style="max-width: 200px; color: var(--primary-color);">-->
  {{ end }}
  <a href="/entries"><h3>All posts</h3></a>
</ul>

